<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hack Auth" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="grid grid-cols-2 grid-rows-1 min-h-screen">
      <section class="bg-gradient-to-l from-purple 0% via-blue 50% to-green 100% 100% text-white">
        <div class="pl-3 py-3">
          <h1 class="text-5xl font-bold">HackAuth</h1>
          <h2 class="text-4xl"><%= content_for(:title) %></h2>
        </div>
      </section>
      <main class="flex flex-col p-4">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
